* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
}

.App {
  display: flex;
  height: 100vh;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-overlay .lottie {
  width: 100px; 
  height: 100px; 
}
